* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
}

p {
    font-size: 16px;
    text-align: justify;
}

h1,
h2,
h3 {
    background-color: rgb(63, 0, 122);
    background: linear-gradient(to right, #d0aeff 20%, #6200EE);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 26px;
}

i {
    font-size: 32px;
    margin: auto;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0.1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#project-details div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
    animation: zoomIn 2s ease forwards;
}

#project-details div a {
    margin: auto;
    width: 25%;
    padding: 8px 15px;
    background-color: #6300EE;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: pointer;
    transition: transform 500ms ease, background-color 500ms ease;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#project-details div a:hover {
    background-color: #c59ffa;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.button:active {
    background-color: #6200EE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}


#project-details {
    max-width: 2400px;
    min-width: 300px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform 500ms ease, background-color 2s ease;
    animation: zoomIn 3s ease forwards;
}

#project-details:hover {
    background-color: rgba(208, 174, 255, 0.31);
    outline: 1px solid rgba(208, 174, 255, 0.744);
    z-index: 10;
    transform: scale(1.05);
}

#project-details img {
    display: block;
    max-width: 100%;
    margin: auto;
    max-height: 400px;
}

/* Pour les tablettes et écrans moyennement grands */
@media (max-width: 1024px) {
    #project-details {
        max-width: 100%;
        height: auto;
        padding: 50px;
        flex-direction: column;
        align-items: center;
    }

    #project-details div a {
        width: 50%;
    }
}

/* Pour les mobiles et petits écrans */
@media (max-width: 768px) {
    #project-details {
        flex-direction: column;
        justify-content: flex-start;
    }

    #project-details div a {
        width: 70%;
    }
}