* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
}

p {
    font-size: 16px;
}

h1,
h2,
h3 {
    background-color: rgb(63, 0, 122);
    background: linear-gradient(to right, #d0aeff 20%, #6200EE);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 26px;
}

i {
    font-size: 32px;
    margin: auto;
}

/* zoomin animation */

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0.1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-on-load {
    animation: zoomIn 2s ease forwards;
}

/******************** Grid settings ********************/

.grid-container {
    max-width: 1200px;
    min-width: 300px;
    height: 700px;
    margin: 16px;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-template-areas:
        "box1 box1 box1 box1 box2 box2 box3 box3"
        "box4 box4 box4 box4 box5 box5 box5 box5"
        "box4 box4 box4 box4 box5 box5 box5 box5"
        "box6 box6 box7 box7 box8 box8 box9 box9"
        "box10 box11 box12 box13 box8 box8 box9 box9"
    ;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform 500ms ease, background-color 2s ease;
}

.grid-item:hover {
    background-color: rgba(208, 174, 255, 0.31);
    outline: 1px solid rgba(208, 174, 255, 0.744);
    z-index: 10;
    transform: scale(1.05);
}

.grid-item a {
    cursor: pointer;
}

/******************** Grid items ********************/

/****** Grid item 1 ******/

.grid-item-1 {
    grid-area: box1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: justify;
    padding: 20px;
}

.grid-item-1 .grid-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.grid-item-1 .content_logo_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.grid-item-1 img {
    width: 20%;
    border-radius: 90%;
    transition: transform 500ms ease, background-color 2s ease;
}

.grid-item-1 img:hover {
    cursor: pointer;
    z-index: 11;
    transform: scale(1.2);
}

/****** Grid item 2 ******/

.grid-item-2 {
    grid-area: box2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_frontend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
    padding: 20px;
}

.grid-item-2 img {
    width: 75%;
    height: 100%;
    border-radius: 10px;
    transition: transform 500ms ease, background-color 2s ease;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.grid-item-2 img:hover {
    cursor: pointer;
    z-index: 11;
    transform: scale(1.4);
}

/****** Grid item 3 ******/

.grid-item-3 {
    grid-area: box3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_backend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
    padding: 20px;
}

.grid-item-3 img {
    width: 75%;
    border-radius: 10px;
    transition: transform 500ms ease, background-color 2s ease;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.grid-item-3 img:hover {
    cursor: pointer;
    z-index: 11;
    transform: scale(1.4);
}

/****** Grid item 4 ******/

.grid-item-4 {
    grid-area: box4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-4 h2 {
    background-color: rgb(63, 0, 122);
    background: linear-gradient(to right, #d0aeff 20%, #6dc7ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: auto;
}

/******* Grid item 5 *******/

.grid-item-5 {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-5 h2 {
    background-color: rgb(63, 0, 122);
    background: linear-gradient(to right, #d0aeff 20%, #6dc7ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: auto;
}


/******* Grid item 6 *******/

.grid-item-6 {
    grid-area: box6;
    display: flex;
    align-items: center;
    justify-content: center;
}


/******* Grid item 7 *******/

.grid-item-7 {
    grid-area: box7;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.grid-item-7 {
    grid-area: box7;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.grid-item-7 img {
    width: 20%;
}

/******* Grid item 8 *******/

.grid-item-8 {
    grid-area: box8;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.grid-item-8 img {
    width: 50%;
}

/******* Grid item 9 *******/

.grid-item-9 {
    grid-area: box9;
    display: flex;
    justify-content: center;
}

.grid-item-9 img {
    width: 50%;
}

/******* Grid item 10 *******/

.grid-item-10 {
    grid-area: box10;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******* Grid item 11 *******/

.grid-item-11 {
    grid-area: box11;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******* Grid item 12 *******/

.grid-item-12 {
    grid-area: box12;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******* Grid item 13 *******/

.grid-item-13 {
    grid-area: box13;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****************** Responsive ********************/

@media (max-width: 768px) {
    .grid-container {
        padding-bottom: 10px;
        padding-top: 10px;
        height: 100%;
        grid-template-areas:
            'box1 box1 box1 box1'
            'box2 box2 box3 box3'
            'box4 box4 box5 box5'
            'box6 box6 box7 box7'
            'box8 box8 box9 box9'
            'box10 box11 box12 box13';
    }

    .grid-item-2 img,
    .grid-item-3 img,
    .grid-item-8 img,
    .grid-item-9 img {
        width: 50%;
    }
}

@media (max-width: 540px) {
    .grid-container {
        padding-bottom: 10px;
        padding-top: 10px;
        height: 100%;
        grid-template-areas:
            'box1'
            'box2'
            'box3'
            'box4'
            'box5'
            'box6'
            'box7'
            'box8'
            'box9'
            'box10'
            'box11'
            'box12'
            'box13';
    }

    .grid-item-2 img,
    .grid-item-3 img,
    .grid-item-8 img,
    .grid-item-9 img {
        width: 30%;
    }
}